.footer {
    min-height: 58rem;
    position: relative;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $col_pink;
    overflow: hidden;

    @media(max-width: $tablet_width) {
        min-height: 50rem;
    }

    .webp & {
        background-image: url("../assets/img/footer-bg@1x.webp");
      
        @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
          background-image: url("../assets/img/footer-bg@2x.webp");
        }

        @media(max-width: $mobile-sm_width) {
            background-image: url("../assets/img/footer-bg_mobile@1x.webp");
          
            @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
              background-image: url("../assets/img/footer-bg_mobile@2x.webp");
            }
        }
    }
      
    .no-webp & {
        background-image: url("../assets/img/footer-bg@1x.png");
      
        @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
            background-image: url("../assets/img/footer-bg@2x.png");
        }

        @media(max-width: $mobile-sm_width) {
            background-image: url("../assets/img/footer-bg_mobile@1x.png");
          
            @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
                background-image: url("../assets/img/footer-bg_mobile@2x.png");
            }
        }
    }

    &__wrapper {
        min-height: inherit;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__content {
        display: flex;
        width: 100%;
        max-width: 96rem;
        padding-top: 14.6rem;
        margin-left: 7rem;
        margin-bottom: auto;
        z-index: 100;

        @media(max-width: $desktop-md_width) {
            margin: 0 auto auto;
        }

        @media(max-width: $tablet_width) {
            flex-direction: column;
            padding-top: 4.2rem;
            margin-bottom: 7rem;
        }

        @media(max-width: $mobile_width) {
            padding-top: 3.8rem;
            margin-bottom: 3rem;
        }
        
        p {
            max-width: 46rem;
            margin-right: auto;
            padding-right: 2rem;
            line-height: 120%;

            @media(max-width: $tablet_width) {
                max-width: 100%;
                margin-bottom: 2.5rem;
            }

            @media(max-width: $mobile_width) {
                margin-bottom: 1.9rem;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 0.3rem;
            margin-top: 0.3rem;
            max-width: 373px;
            margin-right: 7px;

            @media(max-width: $tablet_width) {
                margin: 0 auto;
            }

            input {
                font-size: 1.6rem;
                padding: 2.1rem 3rem;
                border: 0;
                border-radius: 1.2rem;
                margin-bottom: 2.7rem;
                color: #909090;

                &::placeholder {
                    font-size: 1.6rem;
                    color: #909090;  
                }
            }

            button {
                border: 0;
                background-color: transparent;
                width: 100%;

                font-size: 2.4rem;
                line-height: 2.6rem;
                margin-bottom: 2rem;
                min-height: 8rem;

                opacity: 1;
                transition: opacity $tr_rules;
              
                @media(min-width: $tablet_width) {
                  &:hover,
                  &:focus {
                    opacity: 0.8;
                  }
              
                  &:active {
                    opacity: 0.6;
                  }
                }
            }

            small {
                font-size: 1.4rem;
                color: $col_white;

                a {
                    text-decoration: underline;
                    color: $col_white;
                }
            }
        }
    }

    &__info {
        display: flex;
        margin-bottom: 1.7rem;
        z-index: 100;

        @media(max-width: $tablet_width) {
            margin-top: auto;
        }

        @media(max-width: $mobile_width) {
            margin-bottom: 2rem;
        }

        small {
            font-family: $font_light;
            font-size: 1rem;
            line-height: 1.2;
            text-transform: uppercase;
            margin: 0 auto;
            color: $col_white;
        }
    }
}