-
  const features = [
      {
          text: 'Простые домашние рецепты',
          icon: './assets/img/fea_1.png'
      },

      {
          text: 'Статьи о готовке',
          icon: './assets/img/fea_2.png'
      },

      {
          text: 'Бесплатная книга рецептов всем подписчикам',
          icon: './assets/img/fea_3.png'
      },

      {
          text: 'Собирайте рецепты в recipe box',
          icon: './assets/img/fea_4.png'
      },

      {
          text: 'Печать рецептов',
          icon: './assets/img/fea_5.png'
      }
  ]

section.features
  .cmn__wrapper.features__wrapper
    .features-swiper-container
      .swiper-wrapper
        each fea in features
          .swiper-slide.features__item
            img(src=fea.icon alt=fea.text)
            p.cmn__text.features__desc= fea.text
      