-
  const features = [
      {
          text: 'Простые домашние рецепты',
          icon: '#icon-adv_1',
          width: "80",
          height: "62"
      },

      {
          text: 'Статьи о готовке',
          icon: '#icon-adv_2',
          width: "72",
          height: "71"
      },

      {
          text: 'Бесплатная книга рецептов всем подписчикам',
          icon: '#icon-adv_3',
          width: "51",
          height: "66"
      },

      {
          text: 'Собирайте рецепты в&nbsp;recipe&nbsp;box',
          icon: '#icon-adv_4',
          width: "54",
          height: "60"
      },

      {
          text: 'Печать рецептов',
          icon: '#icon-adv_5',
          width: "62",
          height: "60"
      }
  ]

section.features
  .cmn__wrapper.features__wrapper
    .features-swiper-container
      .swiper-wrapper
        each fea in features
          .swiper-slide.features__item
            .features__item-header
              svg(width=fea.width height=fea.height)
                use(xlink:href=fea.icon)
            p.features__desc!= fea.text

      .features-swiper-pagination
      