section.intro
  .cmn__wrapper.intro__wrapper
    .intro__content
      h1.cmn__main-title.intro__title домашние Простые рецепты
      p.cmn__text.intro__desc Собирайте рецепты в recipe box

      a(href="#").cmn__btn.intro__btn Присоединиться к&nbsp;сообществу 