section.subscribe
  .cmn__wrapper.subscribe__wrapper
    h2.visually-hidden Стань членом семьи Tastycookery !

    p Удобно получать на емейл уникальные проверенные рецепты, которые&nbsp;дружная&nbsp;команда Tastycookery попробовала сама и рекомендует

    a(href="#").cmn__btn.subscribe__btn <span>Стать членом семьи Tastycookery</span><br>бесплатно