section.subscribe
  .cmn__wrapper.subscribe__wrapper
    h2.visually-hidden Стань членом семьи Tastycookery !

    p.cmn__text Удобно получать на емейл уникальные проверенные рецепты, которые дружная команда Tastycookery попробовала сама и рекомендует

    a(href="#").cmn__btn <span>Стать членом семьи Tastycookery</span> бесплатно