//fonts

$font_reg: 'Circe-Regular';
$font_light: 'Circe-Light';
$font_bold: 'Circe-ExtraBold';

// animation

$tr_rules: 0.3s 0.1s ease;

// widths

$max_width: 1440px;

$desktop-md_width: 1439px;
$tablet-lg_width: 1139px;
$tablet_width: 959px;
$mobile-lg_width: 767px;
$mobile_width: 534px;
$min_width: 320px;

// colors

$col_white: #ffffff;
$col_black: #000000;
$col_yellow: #ffdd0c;
$col_gray: #ebebeb;
$col_pink: #ea7f8c;

// links

//btns

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;.Группа_17 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2464px;
    height: 3724px;
    z-index: 24;
  }
  
  
  
