footer.footer
  .cmn__wrapper.footer__wrapper
    //.footer__background(aria-hidden="true")
      .footer__background-item.js-parralax-item
        picture
          source(type="image/webp" srcset="./assets/img/f_1.webp")
          img(src="./assets/img/f_1.png" alt="" width="1417" height="931")

      .footer__background-item.js-parralax-item
        picture
          source(type="image/webp" srcset="./assets/img/f_2.webp")
          img(src="./assets/img/f_2.png" alt="" width="864" height="1446")

      .footer__background-item.js-parralax-item
        picture
          source(type="image/webp" srcset="./assets/img/f_3.webp")
          img(src="./assets/img/f_3.png" alt="" width="918" height="1493")

    .footer__content
      p(data-aos="fade-up").cmn__text 
        | Sign up to receive daily manually selected recipes, delicious weekly articles,
        | 3&nbsp;-&nbsp;piece&nbsp;sets of slow cooker, vegetarian,
        | and lunch ideas, plus Quick&Easy recipes and Nutrition Value flashcards via email.

      form(action="#" method="POST") 
        input(type="text" placeholder="Enter your email")

        button(type="submit").cmn__btn.footer__btn Sign up

        small By signing up I agree to the terms of the <a href="#"> Privacy&nbsp;Policy </a>

    .footer__info
      small © 2014–2018 TastyCookery.com