footer.footer
  .cmn__wrapper.footer__wrapper
    .footer__content
      p.cmn__text 
        | Sign up to receive daily manually selected recipes, delicious weekly articles,
        | 3&nbsp;-&nbsp;piece&nbsp;sets of slow cooker, vegetarian,
        | and lunch ideas, plus Quick&Easy recipes and Nutrition Value flashcards via email.

      form(action="#" method="POST") 
        input(type="text" placeholder="Enter your email")

        button(type="submit").cmn__btn.footer__btn Sign up

        small By signing up I agree to the terms of the <a href="#"> Privacy Policy </a>

    .footer__info
      small © 2014–2018 TastyCookery.com