.features {
    padding-top: 4.3rem;
    padding-bottom: 3.5rem;

    @media(max-width: $desktop-md_width) {
        padding-bottom: 9rem;
    }

    @media(max-width: $mobile_width) {
        padding-top: 3.3rem;
        padding-bottom: 4rem;
    }

    &__wrapper {
        @media(max-width: $desktop-md_width) {
            // padding-bottom: 5.5rem;

            max-width: 96rem;
        }
    }

    &-swiper-container {
        overflow: hidden;
    }

    &-swiper-pagination {
        display: none;
        justify-content: center;

        @media(max-width: $desktop_md-width) {
            display: flex;
        }
    }

    & .swiper-slide {
        padding: 1.7rem 2.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;

        svg {
            position: relative;
        }
    }

    @media(min-width: $desktop-md_width) {
        & .swiper-wrapper {
            transform: initial !important;
            justify-content: space-between;
        }

        & .swiper-slide {
            width: fit-content !important;
            max-width: 24rem;

            &:nth-child(3) {
                max-width: 32rem;
            }
        }
    }

    &__item-header {
        min-height: 11rem;
    }

    &__desc {
        font-size: 1.6rem;
        text-align: center;
        text-transform: uppercase;
        max-width: 26rem;
    }
}